@charset "utf-8";

/* 
    Authors: Anthony Gradillas & Emmanuel Cortes Castaneda
    File: main.css
*/

/* Window Styles */

/* The height of both the html & body will be set to 100% height of the browser window */
html,
body {
    height: 100%;
}

body {
    min-height: 100%;
}

/* Header Styles */

/* The following elements will be formatted into the font that it was given  */
li,
h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
}

footer,
p,
a,
input,
label,
legend {
    font-family: 'Nunito Sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(229, 137, 25);
}

li {
    float: left;
    width: 20%;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(196, 95, 0);
}

/* Body Styles */

h1#heading {
    margin: 20px 0;
    padding: 15px;
    font-size: 3em;
}

div#bodyCont {
    height: 100%;
}

div#general {
    width: 80%;
    float: left;
    background-color: whitesmoke;
    height: 100%;
}

div#general::after {
    content: "";
    display: table;
    clear: both;
}

div#sideCont {
    width: 20%;
    float: right;
    background-color: #333;
    height: 100%;
    color: white;
}

/* Footer Styles */

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: block;
    background: rgb(229, 137, 25);
    color: white;
    text-align: center;
}

footer a {
    color: white;
}

/* Side Content Styles */

div#sideCont {
    height: 100%;
}

div#sideCont h1 {
    padding: 15px 0;
    font-size: 1.5em;
    text-align: center;
}

div#sideCont h3 {
    font-size: 1.05em;
    padding: 15px;
}

/*
 Social Media Icons
 */

a.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 0;
    border-radius: 50%;
}

a.fa:hover {
    opacity: .7;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: white;
}

div#socialMedia {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.sliderFrame {
    overflow: hidden;
    height: 180px;
    width: 270px;
    margin: 0 auto;
    display: flex;
}


/* Mobile Styles */

@media only screen and (min-width : 375px) and (max-width : 667px) {

    div#sideCont {
        display: none
    }

    header img {
        display: none;
    }

    h1#heading {
        font-size: 2em;
    }

    div#general {
        width: 100%;
    }
}