@charset "utf-8";

/* 
    Authors: Anthony Gradillas & Emmanuel Cortes Castaneda
    File: main.css
*/

/* Window Styles */

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0 auto;
    display: block;
}

header {
    width: 100%;
}

/* Header Styles */

div#header {
    width: 100%;
    display: block;
}

nav img {
    width: 50%;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    width: 25%;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* Body Styles */

div#bodyCont {
    overflow: hidden;
}

div#general {
    width: 75%;
    float: left;
}

div#sideCont {
    width: 25%;
    float: left;
}

/* Footer Styles */

footer {
    width: 100%;
    display: block;
    background: #333;
    color: white;
}