@charset "utf-8";

/* 
    Authors: Anthony Gradillas & Emmanuel Cortes Castaneda
    File: main.css
*/

/* Window Styles */

/* The height of both the html & body will be set to 100% height of the browser window */
html {
    height: 100%;
}

body,
html {
    height: 100%;
    margin: 0;
}

/* Header Styles */

/* The following elements will be formatted into the font that it was given  */
li,
h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
}

footer,
p {
    font-family: 'Nunito Sans', sans-serif;
}


/* The div with the id of header is set to take up 100% of the browser width */
div#header {
    width: 100%;
}

div#header::after {
    display: table;
    content: "";
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(229, 137, 25);
}

li {
    float: left;
    width: 20%;
    text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(196, 95, 0);
}

/* Body Styles */

div#bodyCont {
    height: 100%
}

div#general {
    width: 80%;
    float: left;
    background-color: whitesmoke;
    height: 100%;
}

div#sideCont {
    width: 20%;
    float: right;
    background-color: #333;
    height: 100%;
    color: white;
}

/* Footer Styles */

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: block;
    background: #333;
    color: white;
    text-align: center;
}