@charset "utf-8";

/* 
    Authors: Anthony Gradillas & Emmanuel Cortes Castaneda
    File: about.html
*/

section#split1 {
    width: 60%;
    float: left;
    text-align: center;
}

section#split2 {
    width: 40%;
    float: left;
}

h1#heading {

    margin: 20px 0;
    padding: 15px;
    font-size: 3em;
}

/* Sets the width of the image to 50% of its container and then centers it by using the margin style rule. */
img#photo {
    width: 50%;
    display: block;
    margin: 0 auto;
}

/* Information Styles */

h2#subHeading {
    font-size: 2em;
    padding: 15px;
}

h3.info {
    font-size: 1.05em;
    padding: 15px;
}

div#bodyCont {
    height: 100%;
}

div a.links {
    color: rgb(229, 137, 25);
    text-decoration: none;
}

a.links:hover {
    color: rgb(196, 95, 0);
}

/* Forms Styles */

h2#formHeading {
    font-size: 1.7em;
    text-align: center;
}

form#survey>fieldset {
    background-image: linear-gradient(to bottom, #ffffff, #fbfbfb, #f6f6f6, #f2f2f2, #eeeeee);
    border-radius: 20px;
    -webkit-flex: 1 1 300px;
    flex: 1 1 300px;
    font-size: .85em;
    padding: 10px;
    margin: 10px;
}

div.formRow {
    padding: 12px 0;
}

div#buttons {
    text-align: center;
}

div#bodyCont {
    height: 100%;
}

input.fillOut {
    float: right;
}

legend {
    background-color: rgb(229, 137, 25);
    color: white;
    padding: 5px;
    border-radius: 15px;
}

textarea {
    margin-top: 10px;
    height: 100px;
    width: 95%;
}

input:invalid,
textarea:invalid {
    color: red;
    background-color: rgb(255, 250, 185);
}

@media only screen and (min-width : 375px) and (max-width : 667px) {

    div#bodyCont {
        height: auto;
    }

    h1#heading {
        font-size: 20pt;
    }

    section#split1,
    section#split2 {
        width: 100%;
    }

    section#split2>form {
        width: 90%;
        margin: 0 auto;
    }

    img#photo {
        float: left;
        padding: 15px 10px;
    }

    h2#subHeading {
        display: none;
    }

    h2#formHeading {
        font-size: 16pt;
        padding-top: 15px;
    }

    h3.info {
        font-size: 13pt;
    }

    a.links {
        font-size: 11pt;
    }

    div#bodyCont {
        height: auto;
    }
}