@charset "utf-8";

/* 
    Authors: Anthony Gradillas & Emmanuel Cortes Castaneda
    File: about.html
*/

/* General Content Styles */

h2 {
    font-size: 2em;
    padding: 15px;
}

p {
    font-size: 1.17em;
}

.information {
    width: 90%;
    margin: 0 auto;
}

section {
    display: block;
    width: 100%;
}

div#bodyCont {
    height: 100%;
}

div.mapContainer {
    width: 90%;
    margin: 0 auto;
}

div.maps {
    width: 100%;
    float: left;
}

@media only screen and (min-width : 375px) and (max-width : 667px) {

    div#bodyCont {
        height: auto;
    }

    h2 {
        font-size: 17pt;
    }

    p {
        font-size: 14pt;
        line-height: 21pt;
    }

    div#mapContainer a {
        color: black;
    }

    iframe {
        display: none
    }

}