/* 
    Authors: Anthony Gradillas & Emmanuel Cortes Castaneda
    File: about.html
*/

div#bodyCont {
    height: 100%;
}

/* Unordered list for hobbies */
ul#hobbies {
    list-style-type: none;
    background-color: whitesmoke;
    color: black;
    float: left;
    margin: auto;
    padding-top: 10px;
    border-radius: 10px;
}

h3 {
    font-size: 24pt;
    padding: 15px;
}

/* p */
p {
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
    margin: 0 auto;
    font-size: 16pt;
    line-height: 24.75pt;
    padding: 0 15px;
}


@media only screen and (min-width : 375px) and (max-width : 667px) {

    div#bodyCont {
        height: auto;
    }

}